In [9]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pylab
import datetime
pylab.rcParams['figure.figsize'] = (12,8)  # set default plot size

In [8]:
df_ca_e = pd.read_csv('campbell_pge_electric_interval_data_6063859272_2020-01-01_to_2021-01-01.csv',
                      skiprows=5)
df_sc_e = pd.read_csv('sc_pge_electric_interval_data_6063859802_2020-01-01_to_2021-01-01.csv',
                      skiprows=5)

In [21]:
def row_to_dt(r):
    datestr = r.DATE
    year = int(datestr[:4])
    month = int(datestr[5:7])
    date = int(datestr[8:10])
    timestr = r['START TIME']
    hour = int(timestr[:2])
    minute = 30  # since the power is over a time period, use the middle of the period
    return datetime.datetime(year, month, date, hour, minute)

In [29]:
# add time, fix cost, set location and merge dataframes
df_ca_e['NOTES'] = 'Campbell'
df_sc_e['NOTES'] = 'Santa Cruz'
df_e = pd.concat([df_ca_e, df_sc_e])

df_e['COST'] = df_e['COST'].apply(lambda x: float(x[1:]))
df_e['period'] = df_e.apply(row_to_dt, axis=1)
df_e.head()

,TYPE,DATE,START TIME,END TIME,USAGE,UNITS,COST,NOTES,period
0,Electric usage,2020-01-01,00:00,00:59,0.36,kWh,0.08,Campbell,2020-01-01 00:30:00
1,Electric usage,2020-01-01,01:00,01:59,0.29,kWh,0.07,Campbell,2020-01-01 01:30:00
2,Electric usage,2020-01-01,02:00,02:59,0.28,kWh,0.07,Campbell,2020-01-01 02:30:00
3,Electric usage,2020-01-01,03:00,03:59,0.27,kWh,0.06,Campbell,2020-01-01 03:30:00
4,Electric usage,2020-01-01,04:00,04:59,0.27,kWh,0.06,Campbell,2020-01-01 04:30:00

In [32]:
CA = df_e[df_e.NOTES == 'Campbell'][['USAGE', 'COST']].sum()
CA

USAGE    4547.41
COST     1154.13
dtype: float64

In [33]:
SC = df_e[df_e.NOTES == 'Santa Cruz'][['USAGE', 'COST']].sum()
SC

USAGE    2233.31
COST      548.90
dtype: float64

In [34]:
CA.COST / CA.USAGE

0.2537994154914455

In [35]:
SC.COST / SC.USAGE

0.24577868723999352

In [36]:
CA.USAGE + SC.USAGE

6780.71999999991

In [37]:
(CA.COST + SC.COST) / 12.

141.91916666665682