In [4]:
%cd /Users/dane/src/datatools/data
import os
import sys
import pandas as pd

/Users/dane/src/datatools/data

In [5]:
df = pd.read_csv('v14_b8600_b8658.csv')

In [6]:
df.describe()

,passed,project,sim_time,elapsed_time,os,aut
count,6823981.000000,6823981.000000,6823981.000000,6823981.000000,6823981.000000,6823981.000000
mean,0.995666,5369.679818,0.439326,1.498313,0.504972,210.778164
std,0.065691,2786.794405,5.404404,8.827298,0.515991,130.341618
min,0.000000,0.000000,0.000000,0.051808,-1.000000,-1.000000
25%,1.000000,2997.000000,0.017000,0.219852,0.000000,90.000000
50%,1.000000,5388.000000,0.038000,0.578332,1.000000,231.000000
75%,1.000000,7775.000000,0.143000,0.922115,1.000000,328.000000
max,1.000000,10225.000000,633.546000,636.700000,2.000000,447.000000

In [7]:
df.head()

,passed,build,revision,project,machine,sim_time,elapsed_time,os,aut
0,1,B8622,REV10,0,TESTEXAMPLES,1.284,1.455760,0,153
1,1,B8622,REV10,1,TESTEXAMPLES,0.034,0.140661,0,153
2,1,B8622,REV10,2,TESTEXAMPLES,0.034,0.121931,0,153
3,1,B8622,REV10,3,TESTEXAMPLES,3.575,3.729380,0,153
4,1,B8622,REV10,4,TESTEXAMPLES,0.568,0.695644,0,153

Need a way to identify a test run which is a combination of build/revision.  For now will just concat build/rev

In [14]:
df['run_name'] = df.build + '.' + df.revision
df.head()

,passed,build,revision,project,machine,sim_time,elapsed_time,os,aut,run_name
0,1,B8622,REV10,0,TESTEXAMPLES,1.284,1.455760,0,153,B8622.REV10
1,1,B8622,REV10,1,TESTEXAMPLES,0.034,0.140661,0,153,B8622.REV10
2,1,B8622,REV10,2,TESTEXAMPLES,0.034,0.121931,0,153,B8622.REV10
3,1,B8622,REV10,3,TESTEXAMPLES,3.575,3.729380,0,153,B8622.REV10
4,1,B8622,REV10,4,TESTEXAMPLES,0.568,0.695644,0,153,B8622.REV10

In [15]:
# write out to pickle file
df.to_pickle('/Users/dane/src/datatools/ipy/notebooks/regtest/data/v14_B8600_B8658.pickle')

In [ ]:
%timeit pd.read_pickle('/Users/dane/src/datatools/ipy/notebooks/regtest/data/v14_B8600_B8658.pickle')